<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NowNotes_Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NowNotes_Windows.Properties.Settings>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloudSyncEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OneDriveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>light</value>
            </setting>
        </NowNotes_Windows.Properties.Settings>
    </userSettings>
</configuration>